asgiref==3.2.3
bootstrap4==0.1.0
defusedxml==0.6.0
diff-match-patch==20181111
django-import-export==2.0.2
et-xmlfile==1.0.1
jdcal==1.4.1
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.3
pytz==2019.3
PyYAML==5.3
sqlparse==0.3.0
tablib==1.1.0
Jinja2==2.10.3
Pillow==6.2.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
WTForms==2.2.1
distlib==0.3.0
distributed==2.5.2
Django==3.1.9
django-crispy-forms==1.8.1
django-range-slider==0.2.4

