<script src="https://code.jquery.com/jquery-1.10.2.js"></script> 
{% block title %}Gray Image Convertor and Compressor{% endblock %}
{% block header %}
<center><h1>Gray Image Convertor and Compressor</h1></center><br>
<h3>Unload your file here</h3>
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ form.as_p }} 
                <b>Note: More Effective range for compression is 30 - 65 (eg. 35) </b><br>
                <button type="submit" class="btn btn-dark">Upload</button> 
            </form> 
{%endblock%}
{% block body %}

<center><h2>Click on Image to view</h2></center><br>
<h6>Original</h6>
            <a href="{{ images.original_img.url }}" download>
                <img src="{{ images.original_img.url }}" alt="Your Image will come here">
            </a>
<h6>Converted (with {{images.quality}}%)</h6>
            <a href="{{ images.converted_img.url }}" download>
                <img src="{{ images.converted_img.url }}" alt="Converted Image will come here">
            </a>


{% endblock %}
{% block custom_js %}
{% endblock %} 